html{
    background-color: #fff0;
    /* color:white; */
}
.not_nav_div{
    margin:2em;
    z-index: 1;

}
.leaflet-container { 
     width: 100%;
     height: 100vh;
     z-index: 1;
    }
.MapView{
    z-index: -999;
}
.nav_div{
    z-index: 1;
}
body{
    background-color: #fff0;
}