#fPassDivId{
    color:white;
    margin-top:2em;
    /* background-color: #6b6425bf;
    width: min-content;
    border-radius: .8em;
    padding: 2%;
    margin: 0 auto;
    margin-top: 4em; */

}
#fPassId{
padding-top: 1em;
padding-bottom: .5em;
font-weight: 600;
font-size: xx-large;
}

#fPassSpanDivId{
    padding-top: .5em;
    text-align: left;
}
#fPassInputId{
    margin-top: 1em;
    margin-bottom: 1em;
}
#fPassButton{
    border-style: none;
    background-color: white;
    border-radius: .5em;
    height: 2em;
    width: 60%;
    margin:0 auto;
}

.filter{
    background-color: rgba(103, 97, 41, 0.9);
}